.client-container .filters {
    box-shadow: 1px 1px 10px -2px rgba(54,54,54,0.77);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 450px;
    max-width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.client-container .filters .select-search  {
    width: 10px;
}

.client-container .filters.field-search  {
    width: 50px; 
}

.client-container .fab-container {
    position: fixed;
    bottom:10px;
    right:10px;
}

.client-container .fab-container button {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    padding: 0px;
    font-size: 25px;
}


