.collect-container .filters {
    box-shadow: 1px 1px 10px -2px rgba(54,54,54,0.77);
    margin: 10px auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 450px;
    max-width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.collect-container .filters .select-search  {
    width: 100%;
}

.collect-container .filters .field-search  {
    width: 100%; 
}

.react-bootstrap-table table {
    table-layout: auto;
  }


