.import-client-container {
    display: flex;
    flex-direction: column;
}

.import-client-container .form {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    max-width: 450px;
    margin-bottom: 20px;
}
