.import-client-container {
    display: flex;
    flex-direction: column;
}

.import-client-container .form {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    max-width: 450px;
    margin-bottom: 20px;
}

.import-client-container .form input[type="file"] {
    display: none;
}

.import-client-container .form  .import-button:disabled {
    width: 160px;
    background: #dddddd;
}
.import-client-container .form  .import-button:enabled {
    width: 160px;
    background: #417b5b;
}

.import-client-container .form .custom-file-upload {
    width: 100%;
    color: white;
    background-color: #417b5b;
    border: 1px solid #fff;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    translate: 200;
    cursor: pointer;
    margin-right: 10px;
}

.import-client-container .form .custom-file-upload:hover {
    box-shadow: 1px 2px 18px -2px rgba(54,54,54,0.77);
}