/* 
THEME:
 CINZA: #363637 | rgb(54, 54, 55)
 CLARO: #ccc
 TEMA: #417b5b| rgb(74, 134, 101)
 TEMA: #4e8c6b | rgb(78, 140, 107)

*/

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #363636;
}

button, input[type=submit] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  color: white;
  background-color: #417b5b;
}

input[type=text], input[type=number], input[type=password], textarea, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    margin-top: 0px;
    margin-bottom: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
    color: #363637;
    background-color: whitesmoke;
}

input[type=submit]:hover, button:hover {
  box-shadow: 1px 2px 18px -2px rgba(54,54,54,0.77);
}

input[type=text]:read-only, input[type=number]:read-only, input[type=password]:read-only {
  background-color: #b5ccbf;
}

.react-bootstrap-table table {
  table-layout: auto;
}

.modal-footer-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.modal-footer-container .button-delete {
  background-color: rgb(204, 73, 73);
}
.search-field-results {
  overflow: hidden;
  font-size: 20px;
  background-color: #b5ccbf;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.inline {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

